<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/signin.css">
    <head th:insert="~{fragments.html::header}"></head>
</head>
<body>
    <header th:insert="~{fragments.html::nav}"></header>
    <div class="container">
        <form class="form-signin" method="post" th:action="@{/signup}">
            <h2 class="form-signin-heading">회원가입</h2>
            <p>
                <label for="id" class="sr-only">ID</label>
                <input type="text" id="id" name="id" class="form-control" placeholder="아이디" required autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required>
            </p>
            <p>
                <label for="confirmPassword" class="sr-only">Password confirm</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"  placeholder="비밀번호 확인" required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
        </form>
    </div>
</body>
</html>